<div class="text-15px text-primary ml-auto">
  {% if item.original_line_price != item.final_line_price or item.properties['frequency_num'] != blank %}
  <s class="mr-2" data-cart-item-original-price data-without-subscription>
    <span>{{ item.original_line_price | money_without_trailing_zeros }}</span>
  </s>
  {% endif %}

  <span class="font-weight-semibold" data-cart-item-final-price>
    <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" data-item-key="{{item.key}}" style="display:none !important;"></span>
    <span>{{ item.final_line_price | money_without_trailing_zeros }}</span>
  </span>
</div>