<section class="page-hero lazyload bg-muted overlay" data-bgset="{%- render 'bgset', image: image -%}">
  <div class="container">
    <h1 class="mb-0 text-56px text-light text-center">{{ title }}</h1>
  </div>
</section>
