{% comment %}

  Usage:
    title
    image
    mobile_image - optional
    description - optional
    scroll_btn - optional

{% endcomment %}

<div class="lazyload bg-muted overlay bg-center"
     data-bgset="{%- render 'bgset', image: image -%}"
     {% if mobile_image %}data-bg-mobile="{{ mobile_image | img_url: 'master' }}{% endif %}">
  <div class="container h-100">
    <div class="page-hero mx-auto flex-center flex-column h-100">
      <h1 class="mb-0 text-56px text-light text-center">{{ title }}</h1>
    </div>
  </div>

  {%- if scroll_btn -%}
    <button class="page-hero__scroll-down bg-light border-0 rounded-circle position-absolute"
            data-scroll-down>
      {%- render 'icon-chevron-down' -%}
    </button>
  {%- endif -%}
</div>
