@mixin text-6px {
  font-size: 6px;
  line-height: 7px;
}
@mixin text-8px {
  font-size: 8px;
  line-height: 9px;
}
@mixin text-10px {
  font-size: 10px;
  line-height: 12px;
}
@mixin text-12px {
  font-size: 12px;
  line-height: 14px;
}
@mixin text-14px {
  font-size: 14px;
  line-height: 16px;
}
@mixin text-16px {
  font-size: 16px;
  line-height: 18px;
}
@mixin text-18px {
  font-size: 18px;
  line-height: 21px;
}
@mixin text-20px {
  font-size: 20px;
  line-height: 23px;
}
@mixin text-24px {
  font-size: 24px;
  line-height: 28px;
}