// --------------------------------------------------
// Type
$font-family-base: var(--font-stack-body);

$headings-font-family: var(--font-stack-header);

// --------------------------------------------------
// Colors

$primary: #004B83;
$secondary: #1675BB;
$body-color: #306D9A;
$info: #00BAF2;
$light: #fff;
$dark: #606060;
// --------------------------------------------------
// Links
$link-color: $secondary;
$link-hover-color: $primary;
$link-hover-decoration: none;

// --------------------------------------------------
// Buttons

$btn-border-radius: 42px;
$btn-font-weight: 700;
$btn-padding-y: 17px;
$btn-border-width: 0;

// --------------------------------------------------
// Forms

$input-border-radius: 44px;
$input-border-color: #C1C1C1;
$input-focus-border-color: $primary;
$input-font-size: 15px;
$input-padding-y: 1.375rem;
$input-padding-x: 3.5rem;
$form-group-margin-bottom: 28px;
$input-placeholder-color: #6692B4;
$input-height: 66px;
$input-focus-box-shadow: none;
$input-color: $primary;
$input-focus-color: $primary;