.cart {
  &__product {
    &__remove {
      right: 0;
      top: 13px;
      stroke: $dark;
      @include media-breakpoint-up(xl) {
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__submit-controls {
    @include media-breakpoint-down(xs) {
      display: flex;
      input {
        width: 100%;
      }
    }
  }
  .bold_ro_desc p {
    @extend .mb-0;
  }
  .bold_ro_desc:not(:empty) ~ div {
    @extend .d-none;
  }
  [data-cart-item-regular-price] {
    span.money {
      font-size: 18px;
      @extend .font-weight-medium;
    }
  }
  @include media-breakpoint-down(sm) {
    .cart__price {
      width: 25%;
    }
  }
}
.cart .shopify-cleanslate [data-testid="grid-cell"] {
  border-radius: 24px;
  overflow: hidden;
  //@include media-breakpoint-up(md) {
  //  flex-basis: 192px !important;
  //}
}