.collection-template {
  padding-bottom: 200px;
  @include media-breakpoint-down(xs) {
    padding-bottom: 100px;
  }
  &__product-title {
    padding-bottom: 50px;
    margin: 200px 0 54px;
    border-bottom: 1px solid rgba($dark, 0.5);
    @include media-breakpoint-down(md) {
      margin-top: 96px;
    }
    @include media-breakpoint-down(xs) {
      padding-bottom: 21px;
      margin-bottom: 25px;
      font-size: 16px;
    }
  }
  &__additional-info {
    background-color: #171717;
    height: 100%;
    padding: 20px 10px 30px;
    @include media-breakpoint-down(xs) {
      p {
        font-size: 10px;
        line-height: 12px;
      }
      svg {
        width: 7px;
      }
    }
    @include media-breakpoint-up(sm) {
      padding: 25px 25px 50px;
    }
    @include media-breakpoint-up(md) {
      height: 298px;
    }
    @include media-breakpoint-up(lg) {
      height: 258px;
      padding: 50px 84px;
    }
    @include media-breakpoint-up(xl) {
      height: 328px;
    }
    &__link {
      text-transform: uppercase;
      @include media-breakpoint-down(xs) {
        font-size: 10px;
        text-transform: none;
      }
    }
  }
  .product-card {
    @include media-breakpoint-up(md) {
      padding-right: 10px;
    }
    @extend .mb-0;
  }
}

.template-collection {
  .full-width-cta {
    margin-top: 0;
  }
  .infographics {
    @include media-breakpoint-up(lg) {
      background-color: $secondary;
      margin-bottom: 0;
      padding-bottom: 90px;
    }
  }
  @include media-breakpoint-down(sm) {
    .product-card {
      margin-right: -15px;
      margin-left: -3px;
    }
    .collection-template__additional-info {
      margin-left: -15px;
      margin-right: -3px;
    }
    .product__options__wrapper {
      margin-right: -5px;
      & + .product__options__wrapper  {
        margin-top: 10px;
      }
    }
    .product__variant {
      font-size: 10px;
      padding: 3px 6px;
      min-width: 46px;
      margin-bottom: 5px;
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    .product-card__footer button {
      padding: 0;
    }
    .product-card__footer a {
      padding: 3px 6px;
    }
  }
  @include media-breakpoint-down(xs) {
    [data-accordion] {
      padding: 6px !important;
    }

  }
  @media (min-width: 370px) and (max-width: 576px) {
    .product-card__footer a {
      white-space: nowrap;
    }
  }
}
.display-390-430 {
  display: none;
}
@media (min-width: 390px) and (max-width: 435px) {
  .display-390-430 {
    display: inline;
  }
}
