.contact {
  &__section {
    height: 100vh;
    @include media-breakpoint-up(md) {
      height: calc(100vh - 195px);
    }
  }
  &__inner {
    padding: 70px 0;
    @include media-breakpoint-down(xs) {
      padding: 60px 0 14px;
    }
  }
  &__title {
    margin-bottom: 70px;
  }
  &__content {
    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__breadcrumbs {
      background-color: $secondary;
    }
  }
}