.template-learn-cbd {
  padding: 100px 0 60px;
  @include media-breakpoint-up(md) {
    padding: 140px 0 100px;
  }
  @include media-breakpoint-up(lg) {
    padding: 230px 0;
  }
  &__header {
    &:not(:first-child) {
      margin-top: 52px;
      @include media-breakpoint-up(md) {
        margin-top: 90px;
      }
    }
    @include media-breakpoint-down(xs) {
      h2 {
        font-size: initial;
      }
      a {
        @include text-10px;
      }
    }
  }
  &__separator {
    margin: 21px 0;
    @include media-breakpoint-up(md) {
      margin: 35px 0 60px;
    }
  }
}
#shopify-section-learn-cbd-template {
  .featured-blog__article__description[data-from-blog="certificates"] {
    @include media-breakpoint-up(lg) {
      min-height: 228px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 219px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 71.35%);
        pointer-events: none;
      }
    }
  }
}
