.shopify-policy__container {
  padding-top: 100px;
}
.shopify-policy__title {
  margin-bottom: 35px;
}
.shopify-policy__body {
  h1 {
    font-size: 29px;
    line-height: 41px;
    @include media-breakpoint-down(xs) {
      font-size: 20px;
      line-height: 26px;
    }
  }
}