<div class="page-form__wrapper">
  <div class="container">
    <div class="page-form__inner mx-auto">
      {% form 'reset_customer_password' %}

        <h1 class="mb-3 text-center text-35px">{{ 'customer.reset_password.title' | t }}</h1>

        <p class="text-center mb-5">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {%- if form.errors -%}
          <div class="form-message form-message--error text-danger mb-5">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}

        <div class="form-group form-group__with-icon">
          <span class="form-control__icon">
            {% render 'icon-lock' %}
          </span>
          <input type="password"
                 value=""
                 name="customer[password]"
                 id="ResetPassword"
                 placeholder="New Password"
                 class="form-control {% if form.errors contains 'password' %} is-invalid{% endif %}">
          <div class="invalid-feedback pl-4 pt-1">
            Please provide a valid password.
          </div>

        </div>

        <div class="form-group form-group__with-icon">
          <span class="form-control__icon">
            {% render 'icon-lock' %}
          </span>

          <input type="password"
                 value=""
                 placeholder="Confirm Password"
                 name="customer[password_confirmation]"
                 id="PasswordConfirmation"
                 class="form-control {% if form.errors contains 'password_confirmation' %} is-invalid{% endif %}">
          <div class="invalid-feedback pl-4 pt-1">
            Confirm Password should be same as New Password
          </div>

        </div>

        <button type="submit" class="btn btn-primary btn--no-arrow d-block w-100">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      {% endform %}
    </div>
  </div>
</div>
