.btn {
  min-width: 270px;
  line-height: 1.5;
  border-radius: 42px;
  padding: 17px 12px;
  border: none;
  vertical-align: middle;
  transition: background-color 0.3s ease-in-out;

  @extend .position-relative, .overflow-hidden, .d-inline-block, .font-weight-semibold, .text-center;

  &:not(:disabled) {
    cursor: pointer;
  }
  &:after {
    transform: translateY(calc(-50% + 3px)) translateX(0px);
    top: 50%;
    right: 24px;
    transition: transform 0.3s;
    @extend .d-inline-block, .position-absolute;
  }
  &:hover {
    &:after {
      transform: translateY(calc(-50% + 3px)) translateX(45px);
    }
  }
}
.btn-primary {
  background-color: $secondary;
  color: $light;
  &:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cdefs/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.667' d='M4.167 10h11.666M10 4.167L15.833 10 10 15.833'/%3E%3C/svg%3E");
  }
  &:hover {
    color: $light;
    background-color: rgba($secondary, 0.8);
  }
}
button:focus {
  outline: none;
}
a:hover {
  color: rgba($secondary, 0.8);
}
