img {
  max-width: 100%;
}

.overlay {
  z-index: 1;
  @extend .position-relative;
  &:after {
    content: "";
    background-color: rgb(0, 26, 56);
    opacity: 0.3;
    z-index: -1;
    @extend .absolute-fill;
  }
}