html {
  scroll-behavior: smooth;
}

ins {
  text-decoration: none;
}

.section-title {
  margin-bottom: 74px;
  @extend .text-center;
  @include media-breakpoint-down(xs) {
    margin-bottom: 39px;
  }
}
.section-title__large {
  font-size: 48px;
  line-height: 58px;
  @extend .text-center, .font-bold;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 28px;
  }
}

.container-narrow {
  max-width: 780px;
  padding: 0 calc(#{$grid-gutter-width} / 2);
  @extend .mx-auto;
}

//Challenge Page
.shopify-challenge__container {
  padding: 80px 15px;
}