<hr>
<div class="container">
  {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
  {%- for social in socials -%}
    {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
    {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
    {%- if settings[social_link] != blank -%}
      <li class="social-icons__item">
        <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
          {%- include icon_link -%}
          <span class="icon__fallback-text">{{ social }}</span>
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}

  {{ 'now' | date: "%Y" }}
</div>
<hr>

{% schema %}
{
  "name": "Footer",
  "class": "footer bg-secondary pt-5 pb-4"
}
{% endschema %}