{%- if section.settings.enable_top_separator -%}
  <hr class="mx-lg-2 my-0">
{%- endif -%}

<div class="container">
  <div class="row justify-content-center">
    {%- for block in section.blocks -%}
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="image-bar__block">
          <img class="lazyload d-block mx-auto"
               data-src="{{ block.settings.image | img_url: '48x48' }}" alt="{{ block.settings.image.alt }}">
          <p class="image-bar__text mb-0 mt-4 mx-auto text-primary text-15px font-weight-bold text-center">{{ block.settings.title | upcase }}</p>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Image bar",
  "tag": "section",
  "class": "image-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_top_separator",
      "label": "Enable Top Separator"
    }
  ],
  "blocks": [
    {
      "name": "Image Tile",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Required image properties: 1:1, 48+px width & 48+px height"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Bar",
      "category": "New"
    }
  ]
}
{% endschema %}