<div class="container">
  <div class="page-faq__content mx-auto">
    <div class="accordion">
      {%- for block in section.blocks -%}
        <button class="accordion__btn d-block w-100 px-0 border-0 bg-transparent pr-5 text-left text-primary text-15px font-weight-semibold position-relative"
                data-accordion>
          {{- block.settings.title -}}
        </button>
        <div class="accordion__panel text-15px overflow-hidden">
          {{- block.settings.content -}}
        </div>

        {%- unless forloop.last -%}
          <hr class="m-0">
        {%- endunless -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ Content",
  "tag": "section",
  "class": "page-faq__wrapper",
  "blocks": [
    {
      "name": "Add Question",
      "type": "question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}