<div class="swiper-wrapper">
  {%- for block in section.blocks -%}

    {% assign rating = block.settings.rating %}

    <div class="swiper-slide swiper-lazy bg-center"
         data-background="{{ block.settings.image | img_url: 'master' }}" data-background-mobile="{{ block.settings.image_mobile | img_url: '576x' }}">

      <div class="swiper-lazy-preloader"></div>

      <div class="quotes__single-quote">
        <div class="container">

          {%- if rating != 0 -%}
          <div class="quotes__single-quote__rating mb-4 pb-2">
            {%- for star in (1..rating) -%}
              <span class="d-inline-block mr-1">{% render 'icon-star' %}</span>
            {%- endfor -%}
          </div>
          {%- endif -%}

          <cite class="quotes__single-quote__author d-block mb-3 font-weight-bold text-15px text-uppercase text-light">
            {{- block.settings.title -}}
          </cite>
          <q class="quotes__single-quote__content d-block mb-5 text-24px text-light">{{- block.settings.content -}}</q>

          <button class="swiper-btn swiper-button-prev mr-4 rounded-circle border-0">
            {% render 'icon-arrow-left' %}
          </button>
          <button class="swiper-btn swiper-button-next rounded-circle border-0">
            {% render 'icon-arrow-right' %}
          </button>
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>

<script type="module">
    import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js';


    const swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        effect: 'fade',
        autoHeight: true,
        fadeEffect: {
            crossFade: true
        },
        preloadImages: false,
        lazy: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    swiper.on('lazyImageReady', function (swiper, slideEl) {
        let imageMobile = slideEl.dataset.backgroundMobile;

        if ((window.innerWidth < 767) && (!imageMobile.includes('no-image'))) {
            setTimeout(function(){
                slideEl.style.backgroundImage = `url("${imageMobile}")`;
            }, 0);
        }
    });
</script>

{% schema %}
{
  "name": "Quotes",
  "tag": "section",
  "class": "quotes swiper-container",
  "blocks": [
    {
      "name": "Single Quote",
      "type": "quote",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile",
          "info": "Optional"
        },
        {
          "type": "range",
          "id": "rating",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5,
          "label": "Rating"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Review"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Author"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quotes",
      "category": "New"
    }
  ]
}
{% endschema %}