<div class="container">
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
</div>

{% schema %}
{
  "name": "SPR Reviews",
  "tag": "section",
  "class": "spr-reviews-section"
}
{% endschema %}