<div class="container">
  <div class="py-5 my-lg-5">
    <div class="mx-lg-5 px-lg-5">
      <div class="mb-4 pb-1 pb-lg-3 text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte text-dark">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
