{% section 'page-privacy-hero' %}
<div class="page-theme__content text-dark">
    <div class="container w-100 d-flex justify-content-center">
        <div class="page-theme__content-position">
            {{ page.content }}
        </div>
    </div>
</div>
{% section 'social' %}