.about-section {
  margin: 180px 0 153px;
  @include media-breakpoint-down(xs) {
    margin: 90px 0 65px;
  }
  &__inner {
    max-width: 939px;
  }
  &__title {
    margin-bottom: 38px;
  }
  &__description {
    margin-bottom: 80px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 60px;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__statement {
    margin-bottom: 24px;
    p {
      @include media-breakpoint-down(xs) {
        @include text-14px;
      }
    }
    img {
      width: 21px;
      @include media-breakpoint-down(xs) {
        width: 17px;
      }
    }
    strong {
      @extend .text-primary;
    }
  }
  &__navigation {
    margin-top: 66px;
    max-width: 460px;
  }
}
