.featured-collection {
  padding: 153px 0 195px;
  @include media-breakpoint-down(xs) {
    padding: 100px 0 70px;
  }
  &__title {
    margin-bottom: 118px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 80px;
    }
  }
  @include media-breakpoint-down(xs) {
    .row > div {
      padding: 0 12px;
    }
  }
  @media (max-width: 370px) {
    br {
      display: none;
    }
  }
}