.product-bundle {
  margin-top: 234px;
  @include media-breakpoint-down(md) {
    margin-top: 197px;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 160px;
  }
  &__heading {
    margin-bottom: 118px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 56px;
    }
  }
  &__total {
    margin-top: 65px;
    @include media-breakpoint-down(xs) {
      margin-top: 40px;
      @include text-10px;
    }
  }
  &__description {
    @include media-breakpoint-down(xs) {
      @include text-10px;
    }
  }
  .product-price {
    @include media-breakpoint-up(sm) {
      @include text-24px;
    }
  }
  @include media-breakpoint-down(sm) {
    .product-card {
      margin: 0;
    }
    .row > div {
      padding: 0 13px;
    }
  }
}