.social {
  padding: 120px 0;
  @include media-breakpoint-down(sm) {
    padding: 80px 0;
  }
  > * {
    max-width: 530px;
  }
  &__links {
    a {
      width: 24px;
      margin: 0 20px;
      svg {
        fill: #fff;
        path {
          fill: #fff;
        }
      }
    }
  }
}