.subscription-cta {
  padding: 116px 0 120px;
  @include media-breakpoint-down(xs) {
    padding: 100px 0;
    p {
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__inner {
    max-width: 610px;
  }
  &__title {
    margin-bottom: 30px;
    @include media-breakpoint-down(xs) {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 16px;
    }
  }
  &__button {
    margin-top: 50px;
    @include media-breakpoint-down(xs) {
      margin-top: 40px;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}
