.contact-inner {
  padding: 60px 0 80px;
  @include media-breakpoint-up(sm) {
    padding: 80px 0 120px;
  }
  &__content {
    max-width: 794px;
  }
  &__box {
    max-width: 467px;
    padding: 32px 28px;
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.06)
  }
}