.product-card {
  margin-bottom: 50px;
  a > {
    z-index: 1;
  }
  &__image {
    margin-bottom: 30px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }
  }
  &__title {
    @include media-breakpoint-down(xs) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__type {
    @include media-breakpoint-down(xs) {
      font-size: 10px;
      line-height: 15px;
    }
  }
  &__footer {
    margin-top: 25px;
    @include media-breakpoint-down(xs) {
      margin-top: 16px;
    }
    @media (min-width: 370px) and (max-width: 576px) {
      a {
        white-space: nowrap;
      }
    }
    &__submit-wrapper {
      @include media-breakpoint-down(xs) {
        .btn-primary {
          @include text-12px;
        }
      }
    }
  }
  &__label {
    padding: 12px 6px;
    left: 0;
    top: 0;
    z-index: 10;
    @include media-breakpoint-down(xs) {
      font-size: 9px;
      line-height: 23px;
      padding: 0 2px;
    }
  }

  &__accordion-form {
    margin: 0 -20px -20px;
    padding: 0 20px 20px;
    @include media-breakpoint-down(xs) {
      padding: 0 6px 6px;
      margin: 0 -6px -6px;
    }
    &.bg-visible {
      background: linear-gradient(360deg, #171717 0%, rgba(23, 23, 23, 0) 42.44%);
    }
    .bold-ro__radio-div {
      @media not all and (min-resolution:.001dpcm)
      { @supports (-webkit-appearance:none) {
        @include media-breakpoint-down(xs) {
          [name="bold-ro__selector_radio_button"] {
            margin-right: 5px !important;
          }
        }
      }}
      @include media-breakpoint-down(xs) {
        [name="bold-ro__selector_radio_button"] {
          margin-right: 1px;
          &:before {
            width: 13px;
            height: 13px;
            transform: none;
          }
          &:after {
            width: 7px;
            height: 7px;
            top: 6px;
            left: 3px;
          }
        }
        & + .bold-ro__radio-div {
          padding-top: 0;
        }
      }
      label {
        @include media-breakpoint-down(xs) {
          font-size: 10px;
          line-height: 25px;
        }
        @media (min-width: 370px) {
          white-space: nowrap;
        }
      }
    }
  }
  &__accordion {
    max-height: 0;
    transition: max-height 0.3s;
    &.accordion--open {
      max-height: 3000px;
    }
    .bold-ro__recurring-title {
      display: none;
    }
    .product__options {
      margin-bottom: 7px;
    }
  }
}
.product {
  &__options {
    margin: 20px 0 47px;
    @include media-breakpoint-down(xs) {
      margin: 20px 0 50px;
      p {
        margin-bottom: 9px;
      }
    }
  }
  &__variant {
    min-width: 64px;
    padding: 9px;
    color: $primary;
    border: 1px solid $primary;
    margin-bottom: 20px;
    cursor: pointer;
    background: transparent;
    transition: 0.2s;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      border: 2px solid $primary;
      transition: 0.2s;
      opacity: 0;
      z-index: -1;
      @extend .absolute-fill;
    }
    &:hover {
      background: rgba($light, 0.09);
      &:after {
        opacity: 1;
      }
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
    &.selected {
      color: $less-black;
      background: $primary;
    }
    p {
      margin-bottom: 12px;
    }
  }
}

.featured-collection {
  @include media-breakpoint-down(sm) {
    .product__options__wrapper {
      margin-right: -5px;
      & + .product__options__wrapper  {
        margin-top: 10px;
      }
    }
    .product__variant {
      font-size: 10px;
      padding: 3px 6px;
      min-width: 46px;
      margin-bottom: 5px;
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    .product-card__add-to-wishlist {
      padding: 0;
    }
    .product-card__footer a {
      padding: 3px 6px;
    }
  }
  @include media-breakpoint-down(xs) {
    [data-accordion] {
      padding: 6px !important;
    }

  }
}
[data-accordion] {
  top: 25px;
  left: 20px;
  z-index: 10;
  transition: 0.3s;
  @include media-breakpoint-down(xs) {
    top: 15px;
    left: 6px;
  }
  @media (max-width: 369px) {
    max-width: 54px;
  }
  span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    &:first-child {
      max-width: 100%;
      opacity: 1;
    }
    &:last-child {
      max-width: 0;
      opacity: 0;
    }
    &.cross {
      margin-top: -1px;
      @include media-breakpoint-down(xs) {
        margin-top: 0;
        svg {
          padding: 2px;
        }
      }
    }
  }
  &.accordion--open {
    @extend .px-2;
    &:after {
      display: none;
    }
    span {
      &:first-child {
        max-width: 0;
        opacity: 0;
      }
      &:last-child {
        max-width: 100%;
        opacity: 1;
      }
    }
  }
}

.swym-wishlist-button-bar {
  display: none !important;
}

button.product-card__add-to-wishlist {
  &:after {
    color: $light !important;
    transition: 0.25s;
  }
  &:hover {
    &:after {
      color: $light !important;
    }
  }
  svg {
    &:last-of-type {
      display: none;
    }
  }
  &.swym-added {
    svg {
      &:first-of-type {
        display: none;
      }
      &:last-of-type {
        display: block;
      }
    }
  }
}
